html
{
    background-color: black;
}
.site-title
{
    color: aqua;
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.page-title
{
    color: purple;
    display: flex;
    justify-content: center;
    font-size: 45px;
}