html
{
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;
}
.header
{
    margin: 20px;
    padding: 20px;
}
.site-title
{
    color: aqua;
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.page-title
{
    color: purple;
    display: flex;
    justify-content: center;
    font-size: 45px;
}
.bar-links
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.bar-link
{
    text-decoration: none;
    color: red;
}
.bar-link:hover
{
    color: green;
}
main
{
    text-align: center;
}
.login
{
    margin: 5em;
    padding: 5em;
    display: inline-block;
    justify-content: center;
    color: aqua;
    background: purple;
}